<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PandaLyrics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <PandaLyrics.Properties.Settings>
            <setting name="fontFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="windowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="windowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>#fff</value>
            </setting>
            <setting name="shadowColor" serializeAs="String">
                <value>#000</value>
            </setting>
            <setting name="bgVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bgWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="bgColor" serializeAs="String">
                <value>#000</value>
            </setting>
            <setting name="bgAlpha" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="winOpacity" serializeAs="String">
                <value>0.95</value>
            </setting>
        </PandaLyrics.Properties.Settings>
    </userSettings>
</configuration>
